body {
    background-color: whites;
    background-image: url("../Images/marioWallpaper.png");
  }

.marioWelcome{
  width: 10%;
  height: 15%;
}

.searchForm{
  background-color: #fbd000;
  border-right: 5px solid #ffde24;
  border-left: 5px solid #ffde24;
  border-bottom: 5px solid #a78e00;
  border-top: 5px solid #ffea72;
  border-radius: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  margin-left: 10%;
  margin-bottom: 10px;
}

.title-show-drivers{
  margin-top: 20px;
  text-align: center;
}

.checkboxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  border: 3px solid #a78e00;
  border-radius: 3px;
  height: 50px;
  width: 400px;
}
 /* SEARCH BAR ----------------------------------------------------------------------- */
.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  padding: 10px;
}
  
.btn:hover{
  background-color: #ff3f56;
}

  .search-btn {
    background-color: #fbd000;
    color: black;
  }
  
  .clear-btn {
    background-color: aqua;
  }

  /* SELECT ALPHABETICAL -------------------------------------------------------------- */

  /* TABLE ---------------------------------------------------------------------------- */
  #thread{
    text-align: center;
    background-color: #ff2b44;
    border-bottom: 4px solid red;
    height: 50px;
  }

  #emptyTable {
    background-color: #ff6c7e;
    border: 4px solid red;
    width: 95%;
    margin-left: 2.5%;
  }
  
  .columStyle {
    padding: 0.5rem 0.5rem;
    text-align: center;
  }

.rows{
  border-bottom: 2px solid red;
}

  tr.rows:hover {
    background-color: red;
    cursor: pointer;
  }

  #LakituDiv{
    background-color: #fbd000;
    border-right: 5px solid #ffde24;
    border-left: 5px solid #ffde24;
    border-bottom: 5px solid #a78e00;
    border-top: 5px solid #ffea72;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 40%;
    margin-left: 35%;
    position: relative;
  }

  .coin-box-rivet1 {
    position: absolute;
    width: 8px;
    height: 8px;
    margin: 5px;
    border-radius: 50%;
    background-color: #a78e00;
    left: 0;
    top: 0;
  }
  
  .coin-box-rivet2 {
    position: absolute;
    width: 8px;
    height: 8px;
    margin: 5px;
    border-radius: 50%;
    background-color: #a78e00;
    right: 0;
    top: 0;
  }
  .coin-box-rivet3 {
    position: absolute;
    width: 8px;
    height: 8px;
    margin: 5px;
    border-radius: 50%;
    background-color: #a78e00;
    left: 0;
    bottom: 0;
  }

.coin-box-rivet4 {
  position: absolute;
  width: 8px;
  height: 8px;
  margin: 5px;
  border-radius: 50%;
  background-color: #a78e00;
  bottom: 0;
  right: 0;
}

.imageChara{
  width: 70px;
  height: 100px;
}

.imageSkill{
  width: 70px;
  height: 70px;
}

/* FOOTER ---------------------------------------------------------------------------- */
.footer-container{
  background-color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.icons{
  display: flex;
  gap: 10px;
  font-size: 35px;
  color: red;
}

/* BOWSER POP UP ---------------------------------------------------------------------------- */

.centering{
  position: fixed;
  top: 35%;
  left: 25%;
  margin-top: -100px;
  margin-left: -100px;
  width: 60%;
  height: auto;
  z-index: 5;
}

.popUpBowser{
  background-color: #fbd000;
  border-right: 5px solid #ffde24;
  border-left: 5px solid #ffde24;
  border-bottom: 5px solid #a78e00;
  border-top: 5px solid #ffea72;
  border-radius: 3px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 15px;
  width: 60%;
  left: 20%;
  top: 50%;
}

.bowserPainting{
  width: 80%;
  height: 80%;
}


/* MEDIA QUERY ---------------------------------------------------------------------------- */

@media screen and (max-width: 412px){

.marioWelcome{
  width: 25%;
  height: 35%;
}

/* SEARCH FORM ---------------------------------------------------------------------------- */
.title-show-drivers{
  padding: 10px;
}

.checkboxes{
  flex-wrap: wrap;
  gap: 10px;
  height: 100px;
  width: 200px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 5px;
  gap: 5px;
}

#searchInput{
  width: 100%;
  border-radius: 3px;
}

#mySort{
  width: 100%;
  border-radius: 3px;
}

/* TABLE ---------------------------------------------------------------------------- */
#emptyTable {
  width: 100%;
  margin-left: 0%;
}

/* LAKITU WAITING PIC ---------------------------------------------------------------------------- */
#LakituDiv{
  width: 70%;
  height: 50%;
  margin-left: 15%;
}

.footer-container{
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 0px;
}

.hiding{
  display: none;
}
}